# Dante SOCKS5 proxy configuration for rarb

# Logging
logoutput: syslog

# Server addresses
internal: ens5 port = {{ proxy_port }}
external: ens5

# Authentication method
socksmethod: username

# User to run as after binding
user.privileged: root
user.unprivileged: nobody

# Client rules - who can connect (before authentication)
client pass {
    from: 0.0.0.0/0 to: 0.0.0.0/0
    log: error
}

# SOCKS rules - what clients can do after authenticating
socks pass {
    from: 0.0.0.0/0 to: 0.0.0.0/0
    command: connect
    log: error
    socksmethod: username
}
